In [1]:
import os
import psycopg2
from dotenv import load_dotenv
from pathlib import Path
import sqlalchemy

In [2]:
## Load envs
for path in Path('../envs').rglob('*.env'):
    load_dotenv(dotenv_path=path) 
username=os.environ['POSTGRES_USER']
password=os.environ['POSTGRES_PASSWORD']
database=os.environ['POSTGRES_DB']

# Connect db
db_url = f"postgresql://{username}:{password}@localhost/{database}"
sqlalchemy.create_engine(db_url)
os.environ['DATABASE_URL'] = db_url

%load_ext sql
%reload_ext sql

In [3]:

# Show tables 
%%sql 
\dt

14 rows affected.

[('public', 'categories', 'table', 'dbuser'),
 ('public', 'customer_customer_demo', 'table', 'dbuser'),
 ('public', 'customer_demographics', 'table', 'dbuser'),
 ('public', 'customers', 'table', 'dbuser'),
 ('public', 'employee_territories', 'table', 'dbuser'),
 ('public', 'employees', 'table', 'dbuser'),
 ('public', 'order_details', 'table', 'dbuser'),
 ('public', 'orders', 'table', 'dbuser'),
 ('public', 'products', 'table', 'dbuser'),
 ('public', 'region', 'table', 'dbuser'),
 ('public', 'shippers', 'table', 'dbuser'),
 ('public', 'suppliers', 'table', 'dbuser'),
 ('public', 'territories', 'table', 'dbuser'),
 ('public', 'us_states', 'table', 'dbuser')]

## Q1. Which shippers do we have?

We have a table called shippers. return all the fields from all the shippers.

In [20]:
%%sql

SELECT * FROM shippers;

* postgresql://dbuser:***@localhost/northwind
6 rows affected.

[(1, 'Speedy Express', '(503) 555-9831'),
 (2, 'United Package', '(503) 555-3199'),
 (3, 'Federal Shipping', '(503) 555-9931'),
 (4, 'Alliance Shippers', '1-800-222-0451'),
 (5, 'UPS', '1-800-782-7892'),
 (6, 'DHL', '1-800-225-5345')]