In [2]:
import os
from dotenv import load_dotenv
from pathlib import Path
import sqlalchemy

In [3]:
## Load envs
for path in Path('../envs').rglob('*.env'):
    load_dotenv(dotenv_path=path) 
username=os.environ['POSTGRES_USER']
password=os.environ['POSTGRES_PASSWORD']
database=os.environ['POSTGRES_DB']

# Connect db
db_url = f"postgresql://{username}:{password}@localhost/{database}"
sqlalchemy.create_engine(db_url)
os.environ['DATABASE_URL'] = db_url

%load_ext sql
%reload_ext sql

In [4]:

# Show tables 
%sql \dt

14 rows affected.

[('public', 'categories', 'table', 'dbuser'),
 ('public', 'customer_customer_demo', 'table', 'dbuser'),
 ('public', 'customer_demographics', 'table', 'dbuser'),
 ('public', 'customers', 'table', 'dbuser'),
 ('public', 'employee_territories', 'table', 'dbuser'),
 ('public', 'employees', 'table', 'dbuser'),
 ('public', 'order_details', 'table', 'dbuser'),
 ('public', 'orders', 'table', 'dbuser'),
 ('public', 'products', 'table', 'dbuser'),
 ('public', 'region', 'table', 'dbuser'),
 ('public', 'shippers', 'table', 'dbuser'),
 ('public', 'suppliers', 'table', 'dbuser'),
 ('public', 'territories', 'table', 'dbuser'),
 ('public', 'us_states', 'table', 'dbuser')]

## Q1. Which shippers do we have?

We have a table called shippers. return all the fields from all the shippers.

Hint: The standard format for a select statement that returns all columns and all rows is `SELECT * FROM TableName`

<details>
  <summary>Show answer</summary>
  ```sql
  SELECT * FROM shippers;
  ```
</details>

In [5]:
%%sql

* postgresql://dbuser:***@localhost/northwind
6 rows affected.

[(1, 'Speedy Express', '(503) 555-9831'),
 (2, 'United Package', '(503) 555-3199'),
 (3, 'Federal Shipping', '(503) 555-9931'),
 (4, 'Alliance Shippers', '1-800-222-0451'),
 (5, 'UPS', '1-800-782-7892'),
 (6, 'DHL', '1-800-225-5345')]

## Q2. Certain fields from categories 

In the categories table, selecting all the fields using 
this `SELECT * FROM categories`, will return 4 columns,
we only want see two columns, category_name and description.

<details>
  <summary>Show answer</summary>
  ```sql
  SELECT category_name, description FROM categories;
  ```
</details>

In [6]:
%%sql 
--- Describe table 
--- \d+ categorie

* postgresql://dbuser:***@localhost/northwind
8 rows affected.

[('Beverages', 'Soft drinks, coffees, teas, beers, and ales'),
 ('Condiments', 'Sweet and savory sauces, relishes, spreads, and seasonings'),
 ('Confections', 'Desserts, candies, and sweet breads'),
 ('Dairy Products', 'Cheeses'),
 ('Grains/Cereals', 'Breads, crackers, pasta, and cereal'),
 ('Meat/Poultry', 'Prepared meats'),
 ('Produce', 'Dried fruit and bean curd'),
 ('Seafood', 'Seaweed and fish')]

## Q3. Sales Representative 

We'd like to see just the first_name, last_name 
and hire_date of all the employee with title of Sales Representative. 

Hint: To filter you can use WHERE clause

<details>
  <summary>Show answer</summary>
  ```sql
  SELECT first_name, last_name, hire_date
  FROM employees
  WHERE title = 'Sales Representative'
  ```
</details>

In [7]:
%%sql

* postgresql://dbuser:***@localhost/northwind
6 rows affected.

[('Nancy', 'Davolio', datetime.date(1992, 5, 1)),
 ('Janet', 'Leverling', datetime.date(1992, 4, 1)),
 ('Margaret', 'Peacock', datetime.date(1993, 5, 3)),
 ('Michael', 'Suyama', datetime.date(1993, 10, 17)),
 ('Robert', 'King', datetime.date(1994, 1, 2)),
 ('Anne', 'Dodsworth', datetime.date(1994, 11, 15))]

## Q4. Sales Representative in United States 

Hint: Use AND clause 

<details>
  <summary>Show answer</summary>
  ```sql
  SELECT first_name, last_name, hire_date
  FROM employees
  WHERE title = 'Sales Representative'
  AND country = 'USA'
  ```
</details>

In [8]:
%%sql

* postgresql://dbuser:***@localhost/northwind
3 rows affected.

[('Nancy', 'Davolio', datetime.date(1992, 5, 1)),
 ('Janet', 'Leverling', datetime.date(1992, 4, 1)),
 ('Margaret', 'Peacock', datetime.date(1993, 5, 3))]

## Q5. Order placed by specific employee id

Show all the orders placed by a specific employee. The employee_id for this Employee (Steven Buchanan) is 5
expected result order_id and order_date 

Hint: employee_id field is not string 

<details>
  <summary>Show answer</summary>
  ```sql
  SELECT order_id, order_date
  FROM orders 
  WHERE employee_id = 5 LIMIT 5
  ```
</details>

In [9]:
%%sql

* postgresql://dbuser:***@localhost/northwind
5 rows affected.

[(10248, datetime.date(1996, 7, 4)),
 (10254, datetime.date(1996, 7, 11)),
 (10269, datetime.date(1996, 7, 31)),
 (10297, datetime.date(1996, 9, 4)),
 (10320, datetime.date(1996, 10, 3))]

## Q6. Suppliers and contact titles 

In suppliers table, show the supplier_id, contact_name and  contact_title for those suppliers whose contact_title is not Marketing Manager

<details>
  <summary>Show answer</summary>
  ```sql
  SELECT supplier_id, contact_name, contact_title 
  FROM suppliers 
  WHERE NOT contact_title = 'Marketing Manager'
  ```
</details>

In [10]:
%%sql

* postgresql://dbuser:***@localhost/northwind
24 rows affected.

[(1, 'Charlotte Cooper', 'Purchasing Manager'),
 (2, 'Shelley Burke', 'Order Administrator'),
 (3, 'Regina Murphy', 'Sales Representative'),
 (5, 'Antonio del Valle Saavedra', 'Export Administrator'),
 (6, 'Mayumi Ohno', 'Marketing Representative'),
 (8, 'Peter Wilson', 'Sales Representative'),
 (9, 'Lars Peterson', 'Sales Agent'),
 (11, 'Petra Winkler', 'Sales Manager'),
 (12, 'Martin Bein', 'International Marketing Mgr.'),
 (13, 'Sven Petersen', 'Coordinator Foreign Markets'),
 (14, 'Elio Rossi', 'Sales Representative'),
 (16, 'Cheryl Saylor', 'Regional Account Rep.'),
 (17, 'Michael Björn', 'Sales Representative'),
 (18, 'Guylène Nodier', 'Sales Manager'),
 (19, 'Robb Merchant', 'Wholesale Account Agent'),
 (20, 'Chandra Leka', 'Owner'),
 (21, 'Niels Petersen', 'Sales Manager'),
 (22, 'Dirk Luchte', 'Accounting Manager'),
 (23, 'Anne Heikkonen', 'Product Manager'),
 (24, 'Wendy Mackenzie', 'Sales Representative'),
 (26, 'Giovanni Giudici', 'Order Administrator'),
 (27, 'Marie Delamare', 'Sales Manager'),
 (28, 'Eliane Noz', 'Sales Representative'),
 (29, 'Chantal Goulet', 'Accounting Manager')]

## Q7. Products with "queso" in product_name

In the products table, we’d like to see the ProductID and ProductName for those products where the ProductName includes the string “queso”

<details>
  <summary>Show answer</summary>
  ```sql
  SELECT product_name
  FROM products
  WHERE lower(product_name)
  LIKE 'queso%'
  ```
</details>

In [22]:
%%sql

* postgresql://dbuser:***@localhost/northwind
2 rows affected.

[('Queso Cabrales',), ('Queso Manchego La Pastora',)]